<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title th:text="#{title_prefix.text} + #{semester.text}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div th:switch="${semesters}" class="container my-5">
        	<h1 th:text="#{welcome.text}"></h1>
            <div class="row">
                <div class="col-md-6">
                    <div th:case="*">
                        <h2 class="my-5" th:text="#{semester.text}"></h2>
                        <p th:if= "${#lists.size(semesters)} < 1" th:text="#{semester_na.text}"></p>
                        <table th:if= "${#lists.size(semesters)} > 0" class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th th:text="#{field_name.text}"></th>
                                    <th th:text="#{field_edit.text}"></th>
                                    <th th:text="#{field_delete.text}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="semester : ${semesters}">
                                    <td th:text="${semester.name}"></td>
                                    <td><a th:href="@{/semester-edit/{id}(id=${semester.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/semester-delete/{id}(id=${semester.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/semester-add" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
					<p class="my-5"><a href="/" class="btn btn-primary" th:text="#{back_to_homepage.text}"></a></p>
                </div>
            </div>
        </div>
    </body>
</html>