<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{title_prefix.text} + #{semester_update.text}"></title>
  <meta th:include="layout :: header" th:remove="tag" />
</head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5" th:text = "#{semester_update.text}"></h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/semester-edit/{id}(id=${semester.id})}" th:object="${semester}" method="post">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="name" class="col-form-label" th:text="#{field_name.text}"></label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" th:placeholder="#{field_name.text}">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="targetgroup" class="col-form-label" th:text="#{field_targetgroup.text}"></label>
                                <input type="text" th:field="*{targetGroup}" class="form-control" id="targetgroup" th:placeholder="#{field_targetgroup.text}">
                                <span th:if="${#fields.hasErrors('targetGroup')}" th:errors="*{targetGroup}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description" class="col-form-label" th:text="#{field_description.text}"></label>
                                <input type="text" th:field="*{description}" class="form-control" id="description" th:placeholder="#{field_description.text}">
                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="startingdemands" class="col-form-label" th:text="#{field_startingdemands.text}"></label>
                                <input type="text" th:field="*{startingDemands}" class="form-control" id="startingdemands" th:placeholder="#{field_startingdemands.text}">
                                <span th:if="${#fields.hasErrors('startingDemands')}" th:errors="*{startingDemands}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="teachingmethod" class="col-form-label" th:text="#{field_teachingmethod.text}"></label>
                                <input type="text" th:field="*{teachingMethod}" class="form-control" id="teachingmethod" th:placeholder="#{field_teachingmethod.text}">
                                <span th:if="${#fields.hasErrors('teachingMethod')}" th:errors="*{teachingMethod}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
	                            <label for="firstevlofsemester" class="col-form-label" th:text="#{field_firstevlofsemester.text}"></label>
	                			<select id="firstevlofsemester" th:field="*{firstEvlOfSemester}" class="form-control selectpicker">
	                				<option th:value="0" th:text="#{field_selectfirstevlofsemester.text}"></option>
	                				<option th:each="evl : ${evls}" th:value="${evl.id}" th:text="${evl.name}"></option>
	            				</select>
            				</div>
                            <div class="form-group col-md-12">
	                            <label for="secondevlofsemester" class="col-form-label" th:text="#{field_secondevlofsemester.text}"></label>
	                			<select id="secondevlofsemester" th:field="*{secondEvlOfSemester}" class="form-control selectpicker">
	                				<option th:value="0" th:text="#{field_selectsecondevlofsemester.text}"></option>
	                				<option th:each="evl : ${evls}" th:value="${evl.id}" th:text="${evl.name}"></option>
	            				</select>
            				</div>
                            <div class="form-group col-md-12">
	                            <label for="nextsemester" class="col-form-label" th:text="#{field_nextsemester.text}"></label>
	                			<select id="nextsemester" th:field="*{nextSemester}" class="form-control selectpicker">
	                				<option th:value="0" th:text="#{field_selectnextsemester.text}"></option>
	                				<option th:each="semester : ${semesters}" th:value="${semester.id}" th:text="${semester.name}"></option>
	            				</select>
            				</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" th:value="#{semester_edit.text}">
                            </div>
                        </div>    
                    </form>
                    <p class="my-5"><a th:href="@{/semester-list}" class="btn btn-primary" th:text="#{semester_back_to.text}"></a></p>
                </div>
            </div>
            
            <div th:replace="layout :: footer"></div>
        </div>
    </body>
</html>